[submodule "_modules/mirte-python"]
	path = _modules/mirte-python
	url = https://github.com/mirte-robot/mirte-python
[submodule "mirte-ros-packages"]
	path = mirte-ros-packages
	url = https://github.com/AntoniosBarotsis/mirte-ros-packages.git